*{
    margin: 0;
    border:none;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:#f0f0f0;
}

/*---------------------------------------------HEADER--------------------------------------------------*/

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consoles > li{
    display: inline-block;
    padding-left: 5%;
}

header > *{
    flex: 1 1 auto;
}

.logo{
    padding: 1% 2.5%
}

/*---------------------------------------------SECTION--------------------------------------------------*/
section{
    background-color: white;
    width: 66.5%;
    margin-top: 20px;
    text-align: center;
    padding-right: 1%;
    float:left;
}

.jogospopulares{
    text-align: start;
    margin-left: 10.5%;
    font-size: 15pt;
    font-weight: 700;
    padding: 2% 0%;
    border-bottom: 1px solid rgb(56, 55, 55);
    width: 88%;
}

.conteúdo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 18px;
    padding-bottom: 20px;
}

.jogos{
    background-color: white;
    width: 250px;
    height: 236px;
    margin: 10px;
    border: 1px solid black;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
}

.jogos > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
/*---------------------------------------------ASIDE--------------------------------------------------*/
#pesquisa-btn{
    outline: none;
    border: 1px solid rgb(175, 175, 175);
    border-left: none;
}

aside{
    background-color: white;
    width: 30.5%;
    float:right;
    margin-top: 20px;
}

#pesquisa{
    height: 30px;
    flex: 1 1 auto;
    border: 1px solid rgb(175, 175, 175);
    outline:none;
    text-align: center;
}

.sugestões{
    display:flex;
    flex-flow: column wrap;
}

.sug{
    background-color: white;
    height: 100px;
    margin: 10px;
    border: 1px solid black
}

.pesquisa-jogo{
    display: flex;
    padding: 3%;
}

aside > h3{
    padding: 2% 0% 0% 3%;
}

.sqw2 > h3{
    padding: 2%;
}

.sqw2{
    padding-top: 15px;
}

#resident{
    float:right;
    padding: 1% 16% 0 0;
    font-weight: 600;
}

#resident2{
    float:right;
    padding: 1% 42% 0 0;
    font-weight: 600;
}

#resident3{
    float:right;
    padding: 1% 42% 0 0;
    font-weight: 600;
}

#zelda{
    float:right;
    font-size: 15px;
    font-weight: 600;
}

#mario64{
    float:right;
    padding: 1% 40% 0 0;
    font-weight: 600;
}

#bomba{
    float:right;
    padding: 1% 30% 0 0;
    font-weight: 600;
}
/*---------------------------------------------FOOTER--------------------------------------------------*/

footer{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 1%;
    float:center;
    bottom: 0;
    width:100%;
    float:right;
}
