*{
    margin: 0;
    border:none;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:#f0f0f0;
}

/*---------------------------------------------HEADER--------------------------------------------------*/

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consoles > li{
    display: inline-block;
    padding-left: 5%;
}

header > *{
    flex: 1 1 auto;
}

.logo{
    padding: 1% 2.5%
}

/*---------------------------------------------SECTION--------------------------------------------------*/
section{
    background-color: white;
    width: 69%;
    margin-top: 20px;
    text-align: center;
    padding-right: 1%;
    float:left;
}

.jogospopulares{
    text-align: start;
    margin-left: 15.5%;
    font-size: 15pt;
    font-weight: 700;
    padding: 2% 0%;
    border-bottom: 1px solid rgb(56, 55, 55);
    width: 83%;
}

.conteúdo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 18px;
    padding-bottom: 20px;
}

.jogos{
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid black;
    cursor:pointer;
}

/*---------------------------------------------ASIDE--------------------------------------------------*/

aside{
    background-color: white;
    width: 28%;
    float:right;
    margin-top: 20px;
}

aside > input{
    height: 30px;
    width: 80%;
    border: 1px solid rgb(175, 175, 175);
    outline:none;
    margin-left: 4%;
    margin-top: 3%;
}

.sugestões{
    display:flex;
    flex-flow: column wrap;
}

.sug{
    background-color: rgb(48, 48, 48);
    height: 100px;
    margin: 10px;
}
/*---------------------------------------------FOOTER--------------------------------------------------*/

footer{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 1%;
    float:center;
    bottom: 0;
    width:100%;
    float:right;
}
